<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}">Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<div th:insert="header :: header"></div>

<div class="container">
    <header class="blog-header py-3">
        <div class="row flex-nowrap justify-content-between align-items-center">
            <h1  th:text="${title}" class="display-3">Счета</h1>
        </div>
    </header>


    <div class="p-5 text-center bg-light">
        <div class="nav-scroller py-1 mb-2">

            <table th:if="${not #lists.isEmpty(cards)}" class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Баланс</th>
                    <th scope="col">Номер карты</th>
                    <th scope="col">Срок действия</th>

                </tr>
                </thead>
                <tbody>
                <tr th:each="card, iStat : ${cards}"
                    th:style="${iStat.odd}? 'font-weight: bold; background-color: darkgray'"
                    th:alt-title="${iStat.even}? 'even' : 'odd'">

                    <td th:text="${card.accountDTO.amount}"></td>
                    <td th:text="${card.cardNumber}"></td>
                    <td th:text="${card.month} + '/' + ${card.year}"></td>
<!--                    <td th:text="${#temporals.format(account.dateOpened, 'dd-MMM-yyyy')}"></td>-->

<!--                    <td><a th:href="@{/accounts/history/{id}(id=${account.id})}">Edit</a></td>-->
                    <!--        <td><a th:href="@{/account_plan/remove/{id}(id=${accountPlan.id})}">Delete</a></td>-->
                </tr>
                </tbody>
            </table>

            <div th:if="${#lists.isEmpty(cards)}">
                <h2>У Вас еще нет карт</h2>
            </div>
            <a class="btn btn-info" href="/client" role="button">В личный кабинет</a>
            <a class="btn btn-info" href="/cards/new" role="button">Выпустить новую виртуальную карту</a>
        </div>
    </div>
</div>




</body>
</html>