<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Открытие депозитного счета</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body>
<div th:insert="header :: header"></div>

<div class="container">
    <header class="blog-header py-3">
        <div class="row flex-nowrap justify-content-between align-items-center">
            <h1 class="display-3">

            </h1>
        </div>
    </header>

    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">


            <form action="#" th:action="@{/saving/close/{id} (id = ${closeAccount.id})} "
                  th:method="POST">

                <div class="border border-warning">
                    <h6 class="h6">Закрыть счет?</h6>
                    <p class="text-center">Счет номер: <span th:text="${closeAccount.accountNumber}"></span> </p>
                    <p class="text-center">Сумма накоплений по вкладу: <span th:text="${closeAccount.savingAmount}"></span> </p>
                    <br>
                    <p class="text-center">Все средства будут перечислены на счет по умолчанию. </p>

                </div>


                <button type="submit" class="btn btn-primary">Подтвердить</button>

            </form>

<br>
            <a class="btn btn-info" href="/client" role="button">В личный кабинет</a>
        </div>
    </div>
</div>


</body>
</html>