<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Открытие депозитного счета</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body>
<div th:insert="header :: header"></div>

<div class="container">

    <header class="blog-header py-3">
        <div class="row flex-nowrap justify-content-between align-items-center">

            <h1 class="display-3">Открытие вклада</td></h1>

        </div>
    </header>

    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">

            <form action="#" th:action="@{/saving/new}" th:object="${accountCreate}" th:method="POST">


                <div class="p-5 text-center bg-light">
                    <div class="row row-cols-3 row-cols-md-2">
                        <div class="col mb-4" th:each="accountPlan : ${accountPlans}">

                            <div class="card">
                                <div class="card-body">
                                    <h5 th:text="${accountPlan.title}" class="card-title">Card title</h5>
                                    <h6 th:text="'Процентная ставка: ' + ${accountPlan.percent} + '%'"
                                        class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                                    <h6 th:text="'Срок от : ' + ${accountPlan.minPeriod} + ' мес'"
                                        class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                                    <h6 th:text="'Сумма вклада от : ' + ${accountPlan.minAmount} + ' руб'"
                                        class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                                    <p th:text="${accountPlan.description}" class="card-text">text.</p>


                                    <input type="radio"
                                           th:field="*{accountPlanDTO}" th:value="${accountPlan.id}"/>
                                </div>
                            </div>


                        </div>
                        <small th:if="${#fields.hasErrors('accountPlanDTO')}" th:errors="*{accountPlanDTO}" id="accountPlanDTOHelp"
                               class="form-text text-danger"></small>


                    </div>
                </div>
                <div class="form-group">
                    <label for="amount">Сумма вклада</label>
                    <input type="text" th:field="*{amount}" class="form-control" id="amount"
                           aria-describedby="amountHelp">
                    <small th:if="${#fields.hasErrors('amount')}" th:errors="*{amount}" id="amountHelp"
                           class="form-text text-danger"></small>
                </div>

                <div class="form-group">
                    <label for="period">Срок вклада в месяцах</label>
                    <input type="text" th:field="*{period}" class="form-control" id="period"
                           aria-describedby="amountHelp">
                    <small th:if="${#fields.hasErrors('period')}" th:errors="*{period}" id="periodHelp"
                           class="form-text text-danger"></small>
                </div>

                <div class="form-group">
                    <label for="checkingAccount">Выберите счет для привязки карты</label>
                    <select th:field="*{checkingAccountDTO}" class="form-control" id="checkingAccount" name="checkingAccount">
                        <option th:each="a : ${checkingAccounts}" th:value="${a.id}"
                                th:text="'Баланс: ' + ${a.amount} + ' Cчет:' + ${a.accountNumber} ">
                        </option>
                    </select>
                </div>
                <br>
                <button type="submit" class="btn btn-primary">Добавить</button>
            </form>
            <br>
            <a class="btn btn-info" href="/client" role="button">В личный кабинет</a>

        </div>


    </div>
</div>


</body>
</html>