<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">

<head>
    <meta charset="UTF-8">
    <title>Личный кабинет клиента</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<div th:insert="header :: header"></div>
<div class="container">
    <main role="main" class="container">
        <section class="jumbotron text-center">

            <h1 class="jumbotron-heading"><span th:text="${client.userDTO.name}"></span>, добро пожаловать в интернет
                банк</h1>
            <br>
            <br>
            <div class="d-flex gap-5 justify-content-center">
                <div class="list-group mx-0">
                    <li class="list-group-item list-group-item-action list-group-item-dark"><h4 class="h4">
                        <h4 class="h4">Открыть новый продукт</h4></h4></li>
                    <a href="/checking/new" class="list-group-item list-group-item-action">Открыть новый депозитный счет
                        счет</a>
                    <a href="/saving/new" class="list-group-item list-group-item-action">Открыть вклад</a>
                    <a href="/loan/new" class="list-group-item list-group-item-action">Взять кредит</a>
                </div>

                <div class="list-group mx-0">
                    <li class="list-group-item list-group-item-action list-group-item-dark"><h4 class="h4">
                        <h4 class="h4">Информация по текущим продуктам</h4></h4></li>
                    <a href="/checking" class="list-group-item list-group-item-action">Ваши депозитные
                        счета</a>
                    <a href="/accounts/loan" class="list-group-item list-group-item-action">Ваши кредиты</a>
                    <a href="/saving" class="list-group-item list-group-item-action">Ваши накопительные
                        счета</a>
                    <a href="/cards" class="list-group-item list-group-item-action">Карты</a>
                </div>
                <div class="list-group mx-0">
                    <li class="list-group-item list-group-item-action list-group-item-dark"><h4 class="h4">Сервисы</h4></li>
                    <a href="/checking/add-money" class="list-group-item list-group-item-action">Пополнить счет</a>
                    <a href="/checking/transfer-phone" class="list-group-item list-group-item-action">Перевод денег по номеру телефона</a>
                    <a href="/client/transactions" class="list-group-item list-group-item-action">История</a>
                </div>
            </div>

        </section>
    </main>

</div>

</body>
</html>