<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Здравствуйте</h1>

<table>
<tr th:each="p: ${lp}">
    <td th:text="${p.id}"></td>
    <td th:text="${p.userDTO.name}"></td>
    <td th:text="${p.userDTO.surname}"></td>
    <td th:text="${p.userDTO.password}"></td>
    <td th:text="${p.userDTO.login}"></td>
</tr>
</table>

<a class="btn btn-primary" href="#" role="button">Link</a>
<button class="btn btn-primary" type="submit">Button</button>
<button type="button" class="btn btn-primary">Кредиты</button>
<button type="button" class="btn btn-primary">Вклады</button>
<button type="button" class="btn btn-primary">Карты</button>

</body>
</html>