<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>Login Customer</title>
</head>
<body>
<div class="container">
    <form class="form-signin" method="post" action="/login">
        <h2 class="form-signin-heading">Login</h2>
        <p>
            <label for="username">Username</label>
            <input type="text" id="username" name="username" class="form-control" placeholder="Username" required>
        </p>
        <p>
            <label for="password">Password</label>
            <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
        </p>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>
</div>

<div class="custom-page__content">
    <div>Привет! Как хотите войти?</h1></div>
    <div>
        <div>
            <div class="tabs__container_7l42h">
                <button role="tab" tabindex="0" aria-selected="true" type="button"
                        class="tabs__title_7l42h tabs__selected_7l42h"><span>По логину</span></button>
                <button role="tab" tabindex="-1" aria-selected="false" type="button" class="tabs__title_7l42h"><span>По номеру карты или счёта</span>
                </button>
                <div class="tabs__line_7l42h" style="width: 101px; transform: translateX(0px);"></div>
            </div>
        </div>
        <div class="tabs__component_1b9p9 app-login-switcher__tab" role="tabpanel" tabindex="0">
            <form action="/" enctype="application/x-www-form-urlencoded" method="post" novalidate="" autocomplete="on"
                  class="form login form_size_m form_theme_alfa-on-white">
                <div class="form-control__component_11wq0 form-control__component_1qzsl login__input form-control__xl_11wq0 form-control__block_11wq0">
                    <div class="form-control__inner_11wq0 form-control__inner_1qzsl form-control__hasLabel_11wq0">
                        <div class="form-control__inputWrapper_11wq0"><span class="form-control__hiddenLabel_11wq0"
                                                                            aria-hidden="true">Логин</span>
                            <div class="form-control__label_11wq0 form-control__label_1qzsl"><span
                                    class="form-control__labelInner_11wq0">Логин</span></div>
                            <div class="form-control__input_11wq0"><input maxlength="64"
                                                                          class="input__input_auq2t input__input_kjfbv input__hasLabel_auq2t input__hasLabel_kjfbv"
                                                                          type="text" aria-label="Логин" value=""></div>
                        </div>
                    </div>
                </div>
                <button class="button__component_1wz5e button__m_1wz5e button__component_yc42t button__primary_yc42t button__block_1wz5e login__button"
                        type="button" disabled=""><span
                        class="button__text_1wz5e button__stretchText_1wz5e">Продолжить</span></button>
            </form>
        </div>
    </div>
    <div class="qr-login__container">
        <div class="qr-login__image">
            <canvas height="180" width="180" style="height: 180px; width: 180px;"></canvas>
        </div>
        <div>
            <div class="typography__component_z29os qr-login__title typography__styrene-xsmall_pmboz typography__bold_pmboz">
                Быстрый вход через&nbsp;приложение
            </div>
            <span class="typography__component_ib5dd typography__regular_ib5dd">Отсканируйте QR-код, перейдите по&nbsp;ссылке и&nbsp;подтвердите вход в&nbsp;приложении. Не&nbsp;придётся вводить логин и&nbsp;пароль от&nbsp;интернет-банка</span>
        </div>
    </div>
</div>


</body>
</html>