<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>

<h2>Банковские предложения</h2>
<div th:if="${not #lists.isEmpty(accountPlans)}">
<table>
    <thead>
    <tr>
        <th>Тип</th>
        <th>Ставка</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="accountPlan, iStat : ${accountPlans}"
        th:style="${iStat.odd}? 'font-weight: bold; background-color: darkgray'"
        th:alt-title="${iStat.even}? 'even' : 'odd'">
        <td th:text="${accountPlan.type}"></td>
        <td th:text="${accountPlan.percent}"></td>
        <td><a th:href="@{/account_plan/edit/{id}(id=${accountPlan.id})}">Edit</a></td>
        <td><a th:href="@{/account_plan/remove/{id}(id=${accountPlan.id})}">Delete</a></td>
    </tr>
    </tbody>
</table>
</div>
<div th:if="${#lists.isEmpty(accountPlans)}">
    <h2>Нет предложений</h2></div>

<p><a href="account_plan/add">Добавить</a></p>


</body>
</html>