<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Добавление банковского предложения</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body>
<div th:insert="header :: header"></div>

<div class="container">
    <header class="blog-header py-3">
        <div class="row flex-nowrap justify-content-between align-items-center">
            <h1 class="display-3">Добавление банковского предложения</h1>
        </div>
    </header>

    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
            <form action="#" th:action="@{/account-plan/add}" th:object="${accountPlan}" th:method="POST">

                <div class="form-group">
                    <label for="title">Название</label>
                    <input type="text" th:field="*{title}" class="form-control" id="title" aria-describedby="titleHelp">
                    <small th:if="${#fields.hasErrors('title')}" th:errors="*{title}" id="titleHelp"
                           class="form-text text-danger"></small>
                </div>

                <div class="form-group">
                    <label for="description">Описание</label>
                    <textarea th:field="*{description}" class="form-control" id="description" rows="3"
                              aria-describedby="descriptionHelp"></textarea>
                    <small th:if="${#fields.hasErrors('description')}" th:errors="*{description}" id="descriptionHelp"
                           class="form-text text-danger"></small>
                </div>

                <div class="form-group">
                    <label for="percent">Проценты</label>
                    <input type="text" th:field="*{percent}" class="form-control" id="percent" aria-describedby="percentHelp">
                    <small th:if="${#fields.hasErrors('percent')}" th:errors="*{percent}" id="percentHelp"
                           class="form-text text-danger"></small>
                </div>

                <div class="form-group">
                    <label for="type">Тип</label>
                    <select th:field="*{type}" class="form-control" id="type">
                        <option th:each="t : ${type}" th:value="${t}" th:text="${t}"></option>
                    </select>
                    <small th:if="${#fields.hasErrors('type')}" th:errors="*{type}" id="typeHelp"
                           class="form-text text-danger"></small>
                </div>
                <br>

                <button type="submit" class="btn btn-primary">Добавить</button>
                <br>
                <br>
                <a class="btn btn-info" href="/account-plan" role="button">Все банковские предложения</a>
            </form>
        </div>
    </div>
</div>

</body>
</html>
